@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-secondary-900 bg-secondary-50;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .btn-primary {
    @apply bg-primary-600 hover:bg-primary-700 text-white font-semibold py-2 px-4 rounded-xl transition-all duration-200 shadow-md hover:shadow-lg active:scale-95 text-center;
  }
}